@tailwind base;
@tailwind components;
@tailwind utilities;

/* input:-webkit-autofill {
  background-color: inherit !important;
  background-color: green !important;
} */

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fafafa inset !important;
}
